body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:20px;
    color: rgb(84, 153, 28);
    background-image: url(../img/jack-ward-rknrvCrfS1k-unsplash.jpg);
    background-size: cover;
}

#header{
    height: 300px;
    background-image:url(../img/rumman-amin-GA1g1FVzaes-unsplash.jpg);
    background-size: 100%;
    background-position: center;
}

#navigation{
    height: 60px;
    /* background-color: rgb(84, 153, 28); */
    background-color: #494439;
    background-position: center;
    border: 3.5px solid black;
    border-radius: 1%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.navigation_bar{
    float: left;
    margin-left: 6%;
    margin-right: 6%;
}

#italy_flag{
    background-image: url(../img/italy_flag.jpg);
    background-position: center;
    background-size: cover;
    height: 100px;
    margin-top: 10px;
}

#container{
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.95;
}

h1{
    font-size: 60px;
    text-align: center;
    margin:0;
    padding-top:10px;
}

.paragraph{
    padding: 20px 20px;
    border: 0.5px solid black;
    height: 420px;
    background-color: #494439;
    margin-bottom: 5px;
}

.paragraph_picture{
    width: 750px;
    height: 420px;
    float: left;
    margin-right: 20px;
    display: flex;
    opacity: 1;
}

.paragraph_text{
    float:left;
    width: 400px;
    padding-left: 10%;
    color: #e9ecea;
}

#footer{
    background-color: rgb(190, 40, 15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 1500px;
    height: 60px;
    background-position: center;
    color: #e9ecea;
}

.footer_content{
    float: left;
    margin-left: 12%;
    margin-right: 12%;
}

#video{
    margin-left: 25%;
    margin-bottom: 5px;
}