body, html{
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
}

p {
    color: #e9ecea;
}

h1 {
    font-size: 3.8rem;
    color: rgb(84, 153, 28);
    margin: 0;
}


body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
    background-image: url(../img/jack-ward-rknrvCrfS1k-unsplash.jpg);
    background-size: cover;
}

#header {
    height: 33%;
    width: auto;
    background-image: url(../img/rumman-amin-GA1g1FVzaes-unsplash.jpg);
    background-size: 100%;
    background-position: center;
}

#navigation {
    width: 78%;
    height: 6%;
    background-color: #494439;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-radius: 0px 0px 40px 40px;
    margin-left: auto;
    margin-right: auto;
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 14%;
}

.navigation_item{
    margin: 0;
    color: rgb(84, 153, 28);
}


#italy_flag {
    background-image: url(../img/italy_flag.jpg);
    background-position: center;
    background-size: cover;
    height: 10%;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header1 header1'
        'text1 picture1';
    width: 50%;
    column-gap: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0.8%;
}

.item1 {
    grid-area: header1;
}
.item2 {
    grid-area: text1;
}
.item3 {
    grid-area: picture1;
}

.item1, .item2, .item3{
    background-color: #494439;
}

#footer {
    background-color: #494439;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 1500px;
    height: 60px;
    background-position: center;
    color: rgb(233, 64, 22);
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-radius: 40px 40px 0px 0px;
}

.footer_content {
    padding-top: 17px;
    float: left;
    margin-left: 12%;
    margin-right: 12%;
}